<div class="containerForm">
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div>
      <label>Username:</label>

      <input type="text" name="username" ngModel required>
    </div>

    <div>
      <label>Password:</label>

      <input type="text" required name="paasword" ngModel >
    </div> 

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>