<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2><a [routerLink]="'/contacts'">Contacts</a></h2>


  <router-outlet></router-outlet>
</div>